body {
  background-color: rgb(255, 250, 205);
  margin: 20px;
}

.container_ {
  display: flex;
}

.lesson {
  flex-grow: 3;
  padding: 0px;
}

.no_link {
  color: #fff;
  text-decoration: none;
}

.no_link_black {
  color: #000000;
  text-decoration: none;
}

.link_button {
  background: #ffea76;
  border-radius: 12px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  line-height: 32px;
  margin-top: 12px;
  padding: 8px 40px;
  text-align: center;
}

.join {
  background: #0e72ed;
  border-radius: 12px;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 32px;
  margin-top: 12px;
  padding: 8px 40px;
  text-align: center;
}

* {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
}

.box {
  padding: 11px;
}

/* .toggle {
  display: flex;
  flex-direction: column;
  align-items: center;
} */

.lesson_time_box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lesson_time {
  font-weight: 700;
}

h1 {
  text-align: center;
}

.top {
  display: flex;
  flex: top;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  text-align: center;
}

.bottom {
  display: flex;
  flex: bottom;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #000000;
  text-align: center;
}

.no_margin{
  margin: 0px;
}

.busy{
  background-color: #ffbf76;
}

.free{
  background-color: #76db17;
}

.now {
  background-color: #b8ff76;
}
.later {
  background-color: #ffbf76;
}

.lil_text{
  width: 300px;
}